/*----------------Base Styles ---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF;
}

/*----------------Nav bar Styles ---------------*/
nav {
    background-color: #FFF;
}

.navbar li {
    padding-bottom: 40px;
}

.navbar .navbar-nav {
    margin-top: 48px;
    margin-left: 40px;
}

.navbar .book-button {
    background-color: #FF4A6B;
    border: none;
    margin-top: 227px;
    margin-bottom: 40px;
}

.navbar .book-button:hover {
    background: #FF849A;
}

.navbar-nav .active {
    color: #FF4A6B;
}


@media (min-width: 768px) {
    .navbar a {
        font-size: 1em;
        line-height: 24px;
    }

    .navbar li {
        padding-left: 40px;
        padding-bottom: 0px;
    }

    .navbar img,
    .navbar .navbar-nav {
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .navbar .book-button {
        margin-top: 0px;
    }
}

/*----------------Hero/Header Styles ---------------*/

.background-image:before {
    content: '';
    position: absolute;
    bottom: 63px;
    right: 0;
    left: 0;
    min-height: 100%;
    background: rgba(255, 236, 236, 0.67);
}

#heroArea h2 {
    font-family: 'Prata', serif;
    margin-top: 180px;
    line-height: 43px;
}

#heroArea p {
    margin-bottom: 40px;
    font-size: 0.875em;
    line-height: 19px;
}

#heroArea .book-button {
    background: #FF4A6B;
    border-radius: 5px;
    z-index: 5;
    height: 54px;
    width: 144px;
    border: none;
}

#heroArea .book-button:hover {
    background: #FF849A;
}

@media (max-width: 448px) {
    .background-image {
        background: url('../images/hero-image1.png') no-repeat;
        min-height: 684px;
        background-size: cover;
    }
}

@media (min-width: 449px) {
    #heroArea h2 {
        font-size: 2.2em;
        line-height: 43px;
        margin-top: 120px;
    }

    #past-work .carousel {
        margin-top: 50px;
        width: 40%
    }
}

@media (min-width: 768px) {
    #heroArea {
        background-color: #FFECEC;
        min-height: 772px;
    }

    .background-image {
        background: rgba(0, 0, 0, 0) !important;
    }

    #heroArea h2 {
        font-size: 3em;
        line-height: 65px;
        margin-top: 187px;
    }

    #heroArea p {
        font-size: 1em;
        text-align: left;
        line-height: 22px
    }

    #heroArea img {
        margin-top: 117px;
    }
}

/*----------------ABout Styles ---------------*/
#about h4 {
    font-family: 'Prata', serif;
    margin-top: 49px;
    margin-bottom: 24px;
    margin-left: 16px;
    line-height: 33px;
}

#about span {
    color: #FF4A6B;
}

#about p {
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 16px;
    line-height: 160%;
}

#about .color-line {
    background-color: #FF849A;
    height: 20px;
}

#about .video-box {
    position: relative;
    background-color: #000;
    top: 298px;
    height: 102px;
    width: 257px;
}

#about .video-box a {
    margin-left: 32px;
}

#about .video-box p {
    font-size: 1em;
    padding-left: 20px;
}

#about .img-box {
    background-image: url(../images/about-img.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    max-width: 700px;
    margin-bottom: 51px;
}

@media (min-width: 768px) {
    #about {
        min-height: 524px;
    }

    #about h4 {
        font-size: 3em;
        margin-top: 122px;
        margin-left: 119px;
        margin-right: 0px;
        line-height: 65px;
    }

    #about p {
        font-size: 1.5em;
        margin-left: 119px;
        margin-right: 0px;
        line-height: 160%;
    }

    #about .color-line {
        width: 470px;
        margin-top: 120px;
        margin-left: 20px;
    }

    #about .video-box {
        top: 278px;
        min-height: 122px;
    }

    #about .img-box {
        margin-bottom: 120px;
        margin-left: 20px;
    }
}

/*----------------Services Styles ---------------*/
.services-area {
    background-color: #000000;
    min-height: 1612px;
}

#services .lightpink-bg {
    background-color: #FFECEC;
    border-radius: 5px;
}

#services h4 {
    color: #FF4A6B;
    font-family: 'Prata', serif;
    margin-top: 48px;
    margin-bottom: 24px;
    line-height: 33px;
}

#services p {
    font-size: .875em;
    margin-bottom: 64px;
    line-height: 160%;
}

#services .card-body {
    background-color: #000000;
    font-family: 'Prata', serif;
    border-radius: 0px 0px 5px 5px;
    height: 63px;
    position: absolute;
    width: 291px;
    top: 87%;
}

#services .card {
    background: none;
    text-align: center;
    border: none;
    overflow: hidden;
}

#services span {
    color: #FF4A6B;
}

@media (min-width: 768px) {
    .services {
        background-color: #000;
        min-height: 778px;
    }

    #services h4 {
        margin-top: 120px;
        font-size: 3em;
        line-height: 65px;
        padding: 0;
    }

    #services p {
        font-size: 1em;
        line-height: 160%;
        margin-bottom: 0px;
        padding: 0;
    }

    #services .lightpink-bg {
        width: 1196px;
        height: 570px;
        position: relative;
        left: 0;
        top: 123px;
    }

    #services .card-title {
        font-size: 1.5em;
    }

    #services .card-body {
        flex: 0 0 63px;
        top: 77%;
    }

    #services .event-card {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 373px;
        height: 490px;
    }

    #services .event-card .card-body {
        width: 100%;
        top: 88%;
    }

}

/*----------------Products Styles ---------------*/


#products h4 {

    color: #FF4A6B;
    font-family: 'Prata', serif;
    margin-top: 48px;
}

#products p {
    margin-bottom: 40px;
    font-size: 0.75em;
}

#products .card {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}

#products img {
    border-radius: 8px 8px 0px 0px;
}

#products .card-body {
    background-color: #000000;
    border-radius: 0px 0px 8px 8px;
}

#products .card-body h5 {
    font-size: 0.75em;
    font-weight: 600;
}

#products .card-body p {
    font-weight: bold;
    font-size: 1em;
    line-height: 22px;
    color: #FF4A6B;
}

#products .nav-pills .active {
    background-color: #FF4A6B !important;
    width: 121px;
    height: 48px;
    color: #FFFFFF !important;
}

#products .nav-pills .active:hover {
    background: #FF849A;
}

#products .nav-pills .nav-link {
    color: #C4C4C4;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    width: 121px;
    height: 48px;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 16px;
    margin-bottom: 10px;
}

#products .page-link {
    border: none;
}

#products svg {
    width: 48px;
    height: 48px;
}


@media (min-width: 768px) {
    #products {
        margin-top: 200px;
    }

    #products h4 {
        font-size: 3em;
        line-height: 65px;
    }

    #products p {
        font-size: 1em;
        line-height: 160%;
    }

    #products .page-link {
        border: none;
    }
}

/*----------------Past Work Styles ---------------*/
#past-work {
    background: #fff;
    min-height: 753px;
}

#past-work .bg-box {
    background-color: #000;
    max-height: 391px;
}

#past-work h4 {
    color: #FF4A6B;
    font-family: 'Prata', serif;
    margin-top: 80px;
}

#past-work p {
    margin-bottom: 24px;
    font-size: 0.75em;
    line-height: 160%;
}

#past-work .book-button {
    background: #FF4A6B;
    border-radius: 5px;
    height: 54px;
    width: 144px;
    margin-bottom: 48px;
    border: none;
    margin-top: 24px;
}

#past-work .book-button:hover {
    background: #FF849A;
}

#past-work img {
    border-radius: 5px 5px 0px 0px;
}

#past-work .card-body {
    background-color: #000000;
    font-family: 'Prata', serif;
}

#past-work span {
    color: #FF4A6B;
}

@media (min-width: 768px) {
    #past-work {
        margin-top: 123px;
        min-height: 966px;
    }

    #past-work .bg-box {
        max-height: 516px;
    }

    #past-work .carousel {
        margin-top: 50px;
        width: 552px;
    }

    #past-work h4 {
        font-size: 3em;
        line-height: 65px;
    }

    #past-work p {
        font-size: 1em;
        line-height: 160%;
    }

    #past-work .book-button {
        margin-top: 40px;
        margin-bottom: 80px;
    }
}

/*----------------Pricing Styles ---------------*/
#pricing {
    background: #FFECEC;
    overflow: hidden;
}

#pricing h2 {
    color: #000;
    font-family: 'Prata', serif;
    margin-top: 48px;
}

#pricing p {
    margin-bottom: 48px;
    font-size: 0.75em;
    line-height: 160%;
}

#pricing .card-body {
    padding: 20px 30px 24px 30px;
}

#pricing .card-body h4 {
    color: #FF4A6B;
    margin-top: 18px;
    line-height: 33px;
    font-family: 'Prata', serif;
}

#pricing .card-body h1 {
    font-family: 'Prata', serif;
    font-size: 48px;
    line-height: 65px;
    margin-top: 16px;
    margin-bottom: 24px;
}

#pricing .card-body p {
    font-size: 0.75em;
    line-height: 160%;
    margin-bottom: 41px;
}

#pricing .book-button {
    color: #FF4A6B;
    background-color: #FFF;
    min-width: 144px;
    min-height: 54px;
    border: 1px solid #FF4A6B;
    box-sizing: border-box;
    border-radius: 5px;
}

#pricing .book-button:hover {
    background: #FF849A;
    color: #FFF;
}

#pricing .card {
    margin-bottom: 24px;
    width: 77%;
    max-height: 395px;
    max-width: 287px;
}

@media (min-width: 768px) {
    #pricing {
        margin-top: 80px;
        min-height: 717px;
    }

    #pricing p {
        font-size: 1em;
        line-height: 160%;
    }

    #pricing h2 {
        font-size: 3em;
        line-height: 65px;
        margin-top: 80px;
    }

    #pricing .card {
        margin-left: 16px;
    }
}

/*----------------Coupons Styles ---------------*/
#coupon {
    background-color: #FF849A;
    height: 220px;
}

#coupon .dis-button {
    background: #FF4A6B;
    border-radius: 5px;
    height: 54px;
    width: 144px;
    margin-bottom: 20px;
    border: none;
}

#coupon .dis-button:hover {
    background: #FF849A;
}

#coupon h1 {
    font-family: 'Prata', serif;
}

#coupon span {
    color: #FF4A6B;
}

#coupon p {
    font-size: 0.75em;
}

#coupon .container {
    border: 1px solid #FFFFFF;
    height: 188px;
}

@media (min-width: 768px) {
    #coupon h1 {
        font-size: 4em;
        line-height: 87px;
        margin-left: 175px;
    }

    #coupon p {
        font-size: 1.5em;
        line-height: 33px;
        margin-left: 175px;
    }

    #coupon .box-accent {
        width: 83%;
    }
}

/*----------------Contact Styles ---------------*/
#contact .dkpink-bg {
    background: #FF4A6B;
    border: 1px solid #FF4A6B;
}

#contact h4 {
    font-family: 'Prata', serif;
    margin-top: 80px;
    line-height: 2.0625em;
}

#contact h5 {
    font-size: 0.875em;
    line-height: 160%;
}

#contact .mess-spacing {
    margin-top: 40px;
    margin-bottom: 54px;
}

#contact .mess-btn {
    border: 1px solid #FFFFFF;
    background: #FF4A6B;
    border-radius: 5px;
    color: #FFF;
    width: 172px;
    height: 55px;
    margin-top: 40px;
}

#contact iframe {
    border: 16px #FF4A6B solid;
    width: 100%;
    margin-bottom: 48px;
}

@media (min-width: 768px) {
    #contact h4 {
        font-size: 3em;
        line-height: 65px;
        margin-top: 120px;
        margin-bottom: 59px;
    }

    #contact h5 {
        font-size: 1.25em;
        line-height: 160%;
    }

    #contact .map-container {
        order: 1;
    }

    #contact .mess-form {
        order: 2;
    }

    #contact .dkpink-bg {
        background: #FFF;
        border: 1px solid #FF4A6B;
        margin-bottom: 0px;
        min-height: 659px;
    }

    #contact .mess-spacing {
        margin-left: 48px;
        margin-right: 69px;
    }

    #contact .mess-btn {
        background: #FF4A6B;
        border-radius: 5px;
        margin-bottom: 0px;
    }

    #contact .mess-btn:hover {
        background: #FF849A;
    }

    #contact iframe {
        border-left: 40px #FF4A6B solid;
        border-top: 33px #FF4A6B solid;
        border-bottom: 35px #FF4A6B solid;
        border-right: 0px;
        margin-bottom: 0px;
        height: 100%;
    }

    #contact {
        margin-bottom: 80px;
        min-height: 976px;
    }
}

/*----------------Footer Styles ---------------*/
#footer {
    background: #141414;
    color: #FFF;
}

#footer a {
    color: #FFF;
}

#footer p {
    font-size: 0.75em;
    color: #C5C5C5;
    line-height: 160%;
}

#footer h4 {
    color: #FF4A6B;
    font-family: 'Prata', serif;
    font-size: 1em;
    line-height: 22px;
}

#footer img {
    margin-top: 48px;
}

#footer .social-media {
    width: 50%;
    margin: 48px auto 50px auto;
}

#footer li {
    margin-bottom: 16px;
    font-size: 0.875em;
    line-height: 140.2%;
}

#footer .contact-info {
    font-size: 0.875em;
    line-height: 160%;
    color: #C5C5C5;
}

#footer .com-explore {
    margin-left: 8px;
}

#footer .copyright {
    font-size: 0.5em;
    line-height: 160%;
}

@media (min-width: 768px) {

    #footer h4 {
        font-size: 1.5em;
        line-height: 33px;
    }

    #footer p {
        font-size: 1em;
        text-align: left;
    }

    #footer img {
        margin-top: 0px;
    }

    #footer li {
        font-size: 1.125em;
    }

    #footer .contact-info {
        font-size: 1em;
    }

    #footer .copyright {
        font-size: 1em;
    }

    #footer .com-explore {
        margin-left: 0px;
        padding-left: 90px;
    }

    #footer .com-explore,
    #footer .com-address,
    #footer .com-info {
        margin-top: 80px;
    }

    #footer .social-media {
        margin: 24px 0px 120px 0px;
        width: 32%;
    }
}